# DX 704 Week 1 Project

This week's project will build a portfolio risk and return model, and make investing recommendations for hypothetical clients.
You will collect historical data, estimate returns and risks, construct efficient frontier portfolios, and sanity check the certainty of the maximum return portfolio.

The full project description and a template notebook are available on GitHub at the following link.

https://github.com/bu-cds-dx704/dx704-project-01

Feel free to use optimization tools or libraries (such as CVXOPT or scipy.optimize) to perform any calculations required for this mini project.

### Example Code

You may find it helpful to refer to these GitHub repositories of Jupyter notebooks for example code.

* https://github.com/bu-cds-omds/dx601-examples
* https://github.com/bu-cds-omds/dx602-examples
* https://github.com/bu-cds-omds/dx603-examples
* https://github.com/bu-cds-omds/dx704-examples

Any calculations demonstrated in code examples or videos may be found in these notebooks, and you are allowed to copy this example code in your homework answers.

## Part 1: Collect Data

Collect historical monthly price data for the last 24 months covering 6 different stocks.
The data should cover 24 consecutive months including the last month that ended before this week's material was released on Blackboard.
To be clear, if a month ends between the Blackboard release and submitting your project, you do not need to add that month.

The six different stocks must include AAPL, SPY and TSLA.
At least one of the remaining 3 tickers must start with the same letter as your last name (e.g. professor Considine could use COIN).
This is to encourage diversity in what stocks you analyze; if you discuss this project with classmates, please make sure that you pick different tickers to differentiate your work.
Do not pick stocks with fewer than 24 consecutive months of price data.

In [98]:
# YOUR CHANGES HERE
import cvxpy as cp
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd 

import yfinance as yf 

tickers = ['AAPL', 'AMZN', 'SPY', 'TSLA','IBM','JNJ']

historical_prices = None

for t in tickers:
    ticker = yf.Ticker(t)
    history = ticker.history(period='2y')

    monthly_prices = history['Close'].resample('ME').last()

    if historical_prices is None:
        historical_prices = monthly_prices
    else:
        historical_prices = pd.concat([historical_prices, monthly_prices], axis = 1)
...

historical_prices.columns = tickers
historical_prices.index = pd.to_datetime(historical_prices.index).strftime('%Y-%m')
historical_prices = historical_prices.drop(historical_prices.index[24])

historical_prices

,AAPL,AMZN,SPY,TSLA,IBM,JNJ
Date,,,,,,
2023-09,169.549286,127.120003,417.865631,250.220001,131.234131,146.245300
2023-10,169.113541,133.089996,408.794403,200.839996,135.293671,139.287491
2023-11,188.355331,146.089996,446.135223,240.080002,149.996262,146.384750
2023-12,190.913666,151.940002,466.503662,248.479996,154.716751,148.353470
2024-01,182.851898,155.199997,473.933411,187.289993,173.740601,150.397873
2024-02,179.461288,176.759995,498.666534,201.880005,176.632416,153.904953
2024-03,170.257370,180.380005,514.973938,175.789993,182.293304,150.862717
2024-04,169.115555,175.000000,494.210327,183.279999,158.656982,137.892670
2024-05,191.138184,176.440002,519.207275,178.080002,160.858643,141.006989
2024-06,209.401917,193.250000,537.525024,197.880005,166.739578,140.516678
2024-07,220.795654,186.979996,544.033997,232.070007,185.240509,151.755325
2024-08,227.939163,178.500000,556.745667,214.110001,196.576157,160.666336
2024-09,231.920639,186.330002,568.439941,261.630005,215.005478,156.985336
2024-10,224.863480,186.399994,563.367371,249.850006,201.040039,154.854233
2024-11,236.490463,207.889999,596.962891,345.160004,222.904556,151.360901
2024-12,249.534164,219.389999,582.599915,403.839996,215.474716,141.215515
2025-01,235.165192,237.679993,598.246399,404.600006,250.634064,148.568253
2025-02,241.249481,212.279999,590.651794,292.980011,249.087143,162.425110
2025-03,221.587616,190.259995,557.741150,259.160004,245.357330,163.232208
2025-04,211.981125,184.419998,552.905457,282.160004,238.608200,153.852066
2025-05,200.622314,205.009995,587.652771,346.459991,257.320221,154.079056
2025-06,204.937408,219.389999,617.849976,317.660004,292.800354,151.636978
2025-07,207.334702,234.110001,632.080017,308.269989,251.449905,163.539612
2025-08,232.139999,229.000000,645.049988,333.869995,243.490005,177.169998

Save the data as a TSV file named "historical_prices.tsv" and include a header row with the column names "date" and the 6 stock ticker symbols.
The date should be the last trading day of the month, so it may not be the last day of the month.
For example, the last trading day of November 2024 was 2024-11-29.
The remaining columns should contain the adjusted closing prices of the corresponding stock tickers on that day.

In [99]:
# YOUR CHANGES HERE
historical_prices.index.names = ['date']
historical_prices.to_csv('historical_prices.tsv', sep='\t')

Submit "historical_prices.tsv" in Gradescope.

## Part 2: Calculate Historical Asset Returns

Calculate the historical asset returns based on the price data that you previously collected.

In [100]:
# YOUR CHANGES HERE

historical_returns = historical_prices.pct_change().dropna()
historical_returns

             AAPL      AMZN       SPY      TSLA       IBM       JNJ
date
2023-10 -0.002570  0.046963 -0.021708 -0.197346  0.030934 -0.047576
2023-11  0.113780  0.097678  0.091344  0.195379  0.108672  0.050954
2023-12  0.013582  0.040044  0.045655  0.034988  0.031471  0.013449
2024-01 -0.042227  0.021456  0.015926 -0.246257  0.122959  0.013781
2024-02 -0.018543  0.138918  0.052187  0.077901  0.016644  0.023319
2024-03 -0.051286  0.020480  0.032702 -0.129235  0.032049 -0.019767
2024-04 -0.006706 -0.029826 -0.040320  0.042608 -0.129661 -0.085973
2024-05  0.130222  0.008229  0.050580 -0.028372  0.013877  0.022585
2024-06  0.095553  0.095273  0.035280  0.111186  0.036560 -0.003477
2024-07  0.054411 -0.032445  0.012109  0.172781  0.110957  0.079981
2024-08  0.032353 -0.045352  0.023366 -0.077390  0.061194  0.058720
2024-09  0.017467  0.043866  0.021005  0.221942  0.093752 -0.022911
2024-10 -0.030429  0.000376 -0.008924 -0.045025 -0.064954 -0.013575
2024-11  0.051707  0.115290  0.059633  0.381469  0.108757 -0.022559
2024-12  0.055155  0.055318 -0.024060  0.170008 -0.033332 -0.067028
2025-01 -0.057583  0.083367  0.026856  0.001882  0.163172  0.052067
2025-02  0.025872 -0.106866 -0.012695 -0.275877 -0.006172  0.093269
2025-03 -0.081500 -0.103731 -0.055719 -0.115435 -0.014974  0.004969
2025-04 -0.043353 -0.030695 -0.008670  0.088748 -0.027507 -0.057465
2025-05 -0.053584  0.111647  0.062845  0.227885  0.078422  0.001475
2025-06  0.021509  0.070143  0.051386 -0.083126  0.137883 -0.015850
2025-07  0.011698  0.067095  0.023032 -0.029560 -0.141224  0.078494
2025-08  0.119639 -0.021827  0.020520  0.083044 -0.031656  0.083346

Save the data as a TSV file named "historical_returns.tsv" and include a header row with the column names "date" and the 6 stock ticker symbols.
Each row should have the date at the end of the month and the corresponding *relative* price changes.
For example, if the previous price was \$100 and the new price is \$110, the return value should be 0.10.
There should only be 23 rows of data in this file, since they are computed as the differences of 24 prices.

In [101]:
# YOUR CHANGES HERE
historical_returns.to_csv('historical_returns.tsv', sep='\t')

Submit "historical_returns.tsv" in Gradescope.

## Part 3: Estimate Returns

Estimate the expected returns for each asset using the previously calculated return data.
Just compute the average (mean) return for each asset over your data set; do not use other estimators that have been mentioned.
This will serve as your estimate of expected return for each asset.

In [102]:
# YOUR CHANGES HERE

estimated_returns = historical_returns.mean().to_frame('estimated_return')
estimated_returns.index.name = 'asset'
estimated_returns

       estimated_return
asset
AAPL           0.015442
AMZN           0.028061
SPY            0.019666
TSLA           0.025313
IBM            0.030340
JNJ            0.009575

Save the estimated returns in a TSV file named "estimated_returns.tsv" and include a header row with the column names "asset" and "estimated_return".

In [103]:
# YOUR CHANGES HERE
estimated_returns.to_csv('estimated_returns.tsv',sep='\t')

Submit "estimated_returns.tsv" in Gradescope.

## Part 4: Estimate Risk

Estimate the covariance matrix for the asset returns to understand how the assets move together.

In [104]:
# YOUR CHANGES HERE
estimated_covariance = historical_returns.cov()

estimated_covariance.index.name = None
estimated_covariance.columns.name = None
estimated_covariance

          AAPL      AMZN       SPY      TSLA       IBM       JNJ
AAPL  0.003627  0.000449  0.000832  0.003255  0.000116  0.000875
AMZN  0.000449  0.004512  0.001666  0.005571  0.001888 -0.000537
SPY   0.000832  0.001666  0.001292  0.002421  0.001560  0.000578
TSLA  0.003255  0.005571  0.002421  0.026703  0.002128 -0.001351
IBM   0.000116  0.001888  0.001560  0.002128  0.006505  0.000691
JNJ   0.000875 -0.000537  0.000578 -0.001351  0.000691  0.002528

Save the estimated covariances to a TSV file named "estimated_covariance.tsv".
The header row should have a blank column name followed by the names of the assets.
Each data row should start with the name of an asset for that row, and be followed by the individual covariances corresponding to that row and column's assets.
(This is the format of pandas's `to_csv` method with `sep="\t"` when used on a covariance matrix as computed in the examples.)

In [105]:
# YOUR CHANGES HERE
estimated_covariance.to_csv('estimated_covariance.tsv', sep='\t')

Submit "estimated_covariance.tsv" in Gradescope.

## Part 5: Construct the Maximum Return Portfolio

Compute the maximum return portfolio based on your previously estimated risks and returns.

In [106]:
# YOUR CHANGES HERE
max_return_asset = estimated_returns['estimated_return'].idxmax()

allocation = pd.Series(0.0, index=estimated_returns.index)
allocation[max_return_asset] = 1.0

maximum_return_portfolio = allocation.to_frame('allocation')
maximum_return_portfolio.index.name = 'asset'
maximum_return_portfolio

       allocation
asset
AAPL          0.0
AMZN          0.0
SPY           0.0
TSLA          0.0
IBM           1.0
JNJ           0.0

Save the maximum return portfolio in a TSV file named "maximum_return.tsv".
The header row should have two columns, "asset" and "allocation".
The allocation values should sum up to one.

In [107]:
# YOUR CHANGES HERE

maximum_return_portfolio.to_csv('maximum_return.tsv', sep='\t')

Submit "maximum_return.tsv" in Gradescope.

## Part 6: Construct the Minimum Risk Portfolio

Compute the minimum return portfolio based on your previously estimated risks and returns.

In [108]:
# YOUR CHANGES HERE

n = len(estimated_returns)

x_minimum_risk = cp.Variable(n)

objective_minimum_risk = cp.Minimize(x_minimum_risk.T @ estimated_covariance.to_numpy() @ x_minimum_risk)
objective_minimum_risk

prob_minimum_risk = cp.Problem(objective_minimum_risk,
                               [0 <= x_minimum_risk,
                                cp.sum(x_minimum_risk) == 1])

covariance_minimum_risk = prob_minimum_risk.solve()
covariance_minimum_risk

estimated_return_minimum_risk = x_minimum_risk.value.T @ estimated_returns
estimated_return_minimum_risk

estimated_return    0.016934
dtype: float64

Save the minimum risk portfolio in a TSV file named "minimum_risk.tsv".
The header row should have two columns, "asset" and "allocation".
The allocation values should sum up to one.

In [109]:
# YOUR CHANGES HERE
optimal_weights = x_minimum_risk.value

# Create the DataFrame with the optimal weights
minimum_risk_portfolio = pd.DataFrame({
    'allocation': optimal_weights
}, index=estimated_returns.index)

# Set the index name to 'asset'
minimum_risk_portfolio.index.name = 'asset'

# Save to TSV file
minimum_risk_portfolio.to_csv('minimum_risk.tsv', sep='\t')

Submit "minimum_risk.tsv" in Gradescope.

## Part 7: Build Efficient Frontier Portfolios

Compute 101 portfolios along the mean-variance efficient frontier with evenly spaced estimated returns.
The first portfolio should be the minimum risk portfolio from part 4, and the last portfolio should be the maximum return portfolio from part 3.
The estimated return of each portfolio should be higher than the previous by one percent of the difference between the first and last portfolios.
That is, the estimated return of the portfolios should be similar to `np.linspace(min_risk_return, max_return, 101)`.

In [120]:
# YOUR CHANGES HERE
ef_variances = []
ef_returns = []
ef_portfolios = []

min_risk_return = minimum_risk_portfolio.T @ estimated_returns['estimated_return'] 
max_return_return = maximum_return_portfolio.T @ estimated_returns['estimated_return']

for r in np.linspace(min_risk_return, max_return_return, 101):
    x_r = cp.Variable(n)
    
    prob_r = cp.Problem(cp.Minimize(x_r.T @ estimated_covariance.to_numpy() @ x_r),
                       [x_r >= 0,
                        cp.sum(x_r) == 1,
                        x_r.T @ estimated_returns['estimated_return'].values == r])
    
    prob_r.solve()
    
    if x_r.value is not None: 
        ef_variances.append(prob_r.value)
        ef_returns.append(r)
        ef_portfolios.append(x_r.value)


# Convert to numpy array
ef_portfolios = np.asarray(ef_portfolios, dtype=np.float64)
ef_portfolios

array([[ 8.83052014e-02,  3.34440048e-02,  6.16667631e-01,
         1.26867485e-19, -1.63855759e-18,  2.61583162e-01],
       [ 8.74718937e-02,  3.84997250e-02,  6.21175107e-01,
         1.28085824e-19, -1.65606308e-18,  2.52853274e-01],
       [ 8.66385859e-02,  4.35554452e-02,  6.25682582e-01,
         1.29300311e-19, -1.67354065e-18,  2.44123386e-01],
       [ 8.58052782e-02,  4.86111654e-02,  6.30190058e-01,
         1.30512285e-19, -1.69094869e-18,  2.35393499e-01],
       [ 8.49719705e-02,  5.36668856e-02,  6.34697533e-01,
         1.31715440e-19, -1.70826006e-18,  2.26663611e-01],
       [ 8.51667037e-02,  5.81068949e-02,  6.34278727e-01,
        -4.69938851e-19,  2.65174506e-03,  2.19795930e-01],
       [ 8.61466025e-02,  6.20766555e-02,  6.30097476e-01,
        -4.66063610e-19,  7.32875869e-03,  2.14350507e-01],
       [ 8.71265013e-02,  6.60464160e-02,  6.25916225e-01,
        -4.62218881e-19,  1.20057723e-02,  2.08905085e-01],
       [ 8.81064001e-02,  7.00161766e-02,  6.21734974e-01,
        -4.58334482e-19,  1.66827859e-02,  2.03459663e-01],
       [ 8.90862989e-02,  7.39859371e-02,  6.17553723e-01,
        -4.54500442e-19,  2.13597996e-02,  1.98014241e-01],
       [ 9.00661977e-02,  7.79556977e-02,  6.13372472e-01,
        -4.50666899e-19,  2.60368132e-02,  1.92568819e-01],
       [ 9.10460965e-02,  8.19254582e-02,  6.09191221e-01,
        -4.46779960e-19,  3.07138268e-02,  1.87123397e-01],
       [ 9.20259953e-02,  8.58952188e-02,  6.05009970e-01,
        -4.42894765e-19,  3.53908404e-02,  1.81677975e-01],
       [ 9.30058941e-02,  8.98649793e-02,  6.00828719e-01,
        -4.39062442e-19,  4.00678540e-02,  1.76232553e-01],
       [ 9.39857929e-02,  9.38347399e-02,  5.96647468e-01,
        -4.35217772e-19,  4.47448677e-02,  1.70787131e-01],
       [ 9.49656917e-02,  9.78045004e-02,  5.92466217e-01,
        -4.31277280e-19,  4.94218813e-02,  1.65341709e-01],
       [ 9.59455905e-02,  1.01774261e-01,  5.88284966e-01,
        -4.27403542e-19,  5.40988949e-02,  1.59896287e-01],
       [ 9.69254893e-02,  1.05744022e-01,  5.84103715e-01,
        -4.23579522e-19,  5.87759085e-02,  1.54450865e-01],
       [ 9.79053881e-02,  1.09713782e-01,  5.79922465e-01,
        -4.19682945e-19,  6.34529222e-02,  1.49005443e-01],
       [ 9.88852869e-02,  1.13683543e-01,  5.75741214e-01,
        -4.15847142e-19,  6.81299358e-02,  1.43560021e-01],
       [ 9.98651857e-02,  1.17653303e-01,  5.71559963e-01,
        -4.11965108e-19,  7.28069494e-02,  1.38114599e-01],
       [ 1.00845085e-01,  1.21623064e-01,  5.67378712e-01,
        -4.08130160e-19,  7.74839630e-02,  1.32669177e-01],
       [ 1.01824983e-01,  1.25592824e-01,  5.63197461e-01,
        -4.04234313e-19,  8.21609767e-02,  1.27223755e-01],
       [ 1.02804882e-01,  1.29562585e-01,  5.59016210e-01,
        -4.00411642e-19,  8.68379903e-02,  1.21778333e-01],
       [ 1.03784781e-01,  1.33532345e-01,  5.54834959e-01,
        -3.96575571e-19,  9.15150039e-02,  1.16332911e-01],
       [ 1.04764680e-01,  1.37502106e-01,  5.50653708e-01,
        -3.92647393e-19,  9.61920175e-02,  1.10887489e-01],
       [ 1.05744579e-01,  1.41471866e-01,  5.46472457e-01,
        -3.88868110e-19,  1.00869031e-01,  1.05442067e-01],
       [ 1.06724477e-01,  1.45441627e-01,  5.42291206e-01,
        -3.84927204e-19,  1.05546045e-01,  9.99966449e-02],
       [ 1.07704376e-01,  1.49411388e-01,  5.38109955e-01,
        -3.81084567e-19,  1.10223058e-01,  9.45512228e-02],
       [ 1.08684275e-01,  1.53381148e-01,  5.33928704e-01,
        -3.77240291e-19,  1.14900072e-01,  8.91058008e-02],
       [ 1.09664174e-01,  1.57350909e-01,  5.29747453e-01,
        -3.73363896e-19,  1.19577086e-01,  8.36603788e-02],
       [ 1.10644073e-01,  1.61320669e-01,  5.25566202e-01,
        -3.69530572e-19,  1.24254099e-01,  7.82149567e-02],
       [ 1.11623971e-01,  1.65290430e-01,  5.21384951e-01,
        -3.65655035e-19,  1.28931113e-01,  7.27695347e-02],
       [ 1.12603870e-01,  1.69260190e-01,  5.17203700e-01,
        -3.61756349e-19,  1.33608127e-01,  6.73241127e-02],
       [ 1.13583769e-01,  1.73229951e-01,  5.13022449e-01,
        -3.57924286e-19,  1.38285140e-01,  6.18786907e-02],
       [ 1.14563668e-01,  1.77199711e-01,  5.08841199e-01,
        -3.54040374e-19,  1.42962154e-01,  5.64332686e-02],
       [ 1.15543567e-01,  1.81169472e-01,  5.04659948e-01,
        -3.50204380e-19,  1.47639167e-01,  5.09878466e-02],
       [ 1.16523465e-01,  1.85139232e-01,  5.00478697e-01,
        -3.46275424e-19,  1.52316181e-01,  4.55424246e-02],
       [ 1.17503364e-01,  1.89108993e-01,  4.96297446e-01,
        -3.42495523e-19,  1.56993195e-01,  4.00970025e-02],
       [ 1.18483263e-01,  1.93078754e-01,  4.92116195e-01,
        -3.38652376e-19,  1.61670208e-01,  3.46515805e-02],
       [ 1.19463162e-01,  1.97048514e-01,  4.87934944e-01,
        -3.34775260e-19,  1.66347222e-01,  2.92061585e-02],
       [ 1.20443061e-01,  2.01018275e-01,  4.83753693e-01,
        -3.30888501e-19,  1.71024235e-01,  2.37607365e-02],
       [ 1.21422959e-01,  2.04988035e-01,  4.79572442e-01,
        -3.27004880e-19,  1.75701249e-01,  1.83153144e-02],
       [ 1.22402858e-01,  2.08957796e-01,  4.75391191e-01,
        -3.23159460e-19,  1.80378263e-01,  1.28698924e-02],
       [ 1.23382757e-01,  2.12927556e-01,  4.71209940e-01,
        -3.19314690e-19,  1.85055276e-01,  7.42447037e-03],
       [ 1.24362656e-01,  2.16897317e-01,  4.67028689e-01,
        -3.15397510e-19,  1.89732290e-01,  1.97904834e-03],
       [ 1.25089341e-01,  2.23914872e-01,  4.55806389e-01,
         9.94314766e-20,  1.95189397e-01, -1.45202534e-19],
       [ 1.25671459e-01,  2.32672498e-01,  4.40564160e-01,
         9.33342178e-20,  2.01091882e-01, -1.36367364e-19],
       [ 1.26253578e-01,  2.41430124e-01,  4.25321932e-01,
         8.72375136e-20,  2.06994366e-01, -1.27533066e-19],
       [ 1.26835696e-01,  2.50187750e-01,  4.10079703e-01,
         8.11326936e-20,  2.12896850e-01, -1.18682580e-19],
       [ 1.27417815e-01,  2.58945376e-01,  3.94837474e-01,
         7.50477864e-20,  2.18799335e-01, -1.09871546e-19],
       [ 1.27999933e-01,  2.67703002e-01,  3.79595245e-01,
         6.89602310e-20,  2.24701819e-01, -1.01052194e-19],
       [ 1.28582052e-01,  2.76460628e-01,  3.64353017e-01,
         6.28451468e-20,  2.30604303e-01, -9.21833632e-20],
       [ 1.29164170e-01,  2.85218254e-01,  3.49110788e-01,
         5.67415267e-20,  2.36506788e-01, -8.33440005e-20],
       [ 1.29746289e-01,  2.93975880e-01,  3.33868559e-01,
         5.06663442e-20,  2.42409272e-01, -7.45358017e-20],
       [ 1.30328407e-01,  3.02733506e-01,  3.18626330e-01,
         4.45574019e-20,  2.48311757e-01, -6.56834166e-20],
       [ 1.30910526e-01,  3.11491132e-01,  3.03384102e-01,
         3.84495352e-20,  2.54214241e-01, -5.68337974e-20],
       [ 1.31492644e-01,  3.20248758e-01,  2.88141873e-01,
         3.23523179e-20,  2.60116725e-01, -4.79944286e-20],
       [ 1.32074762e-01,  3.29006384e-01,  2.72899644e-01,
         2.62640506e-20,  2.66019210e-01, -3.91774736e-20],
       [ 1.32656881e-01,  3.37764010e-01,  2.57657415e-01,
         2.01557563e-20,  2.71921694e-01, -3.03248629e-20],
       [ 1.33238999e-01,  3.46521636e-01,  2.42415186e-01,
         1.40738703e-20,  2.77824178e-01, -2.15149974e-20],
       [ 1.33821118e-01,  3.55279262e-01,  2.27172958e-01,
         8.00672973e-21,  2.83726663e-01, -1.27192879e-20],
       [ 1.34403236e-01,  3.64036888e-01,  2.11930729e-01,
         1.88693836e-21,  2.89629147e-01, -3.85137315e-21],
       [ 1.34985355e-01,  3.72794514e-01,  1.96688500e-01,
        -4.24819916e-21,  2.95531631e-01,  5.03545256e-21],
       [ 1.35567473e-01,  3.81552140e-01,  1.81446271e-01,
        -1.03285984e-20,  3.01434116e-01,  1.38508472e-20],
       [ 1.36149592e-01,  3.90309766e-01,  1.66204043e-01,
        -1.63996582e-20,  3.07336600e-01,  2.26446177e-20],
       [ 1.36731710e-01,  3.99067392e-01,  1.50961814e-01,
        -2.25046208e-20,  3.13239085e-01,  3.14947283e-20],
       [ 1.37313829e-01,  4.07825017e-01,  1.35719585e-01,
        -2.85921278e-20,  3.19141569e-01,  4.03110721e-20],
       [ 1.37895947e-01,  4.16582643e-01,  1.20477356e-01,
        -3.46934481e-20,  3.25044053e-01,  4.91570246e-20],
       [ 1.38478065e-01,  4.25340269e-01,  1.05235127e-01,
        -4.08033240e-20,  3.30946538e-01,  5.80072615e-20],
       [ 1.39060184e-01,  4.34097895e-01,  8.99928987e-02,
        -4.69081048e-20,  3.36849022e-01,  6.68551830e-20],
       [ 1.39642302e-01,  4.42855521e-01,  7.47506700e-02,
        -5.29788057e-20,  3.42751506e-01,  7.56505448e-20],
       [ 1.40224421e-01,  4.51613147e-01,  5.95084412e-02,
        -5.90961260e-20,  3.48653991e-01,  8.45157289e-20],
       [ 1.40806539e-01,  4.60370773e-01,  4.42662124e-02,
        -6.52032991e-20,  3.54556475e-01,  9.33663655e-20],
       [ 1.41388658e-01,  4.69128399e-01,  2.90239836e-02,
        -7.12818855e-20,  3.60458959e-01,  1.02177342e-19],
       [ 1.41970776e-01,  4.77886025e-01,  1.37817549e-02,
        -7.73826153e-20,  3.66361444e-01,  1.11016202e-19],
       [ 1.41558901e-01,  4.86301475e-01, -1.04548452e-22,
        -1.95111007e-21,  3.72139624e-01,  1.06481915e-21],
       [ 1.31767213e-01,  4.91487979e-01, -1.07056541e-22,
        -1.98900603e-21,  3.76744808e-01,  1.08384422e-21],
       [ 1.21975524e-01,  4.96674484e-01, -1.10272994e-22,
        -2.02638290e-21,  3.81349992e-01,  1.10307675e-21],
       [ 1.12183835e-01,  5.01860988e-01, -1.12512959e-22,
        -2.06622803e-21,  3.85955177e-01,  1.12388231e-21],
       [ 1.02392146e-01,  5.07047493e-01, -1.14803485e-22,
        -2.09485814e-21,  3.90560361e-01,  1.13901770e-21],
       [ 9.26004574e-02,  5.12233998e-01, -1.16406156e-22,
        -2.13414864e-21,  3.95165545e-01,  1.16176464e-21],
       [ 8.28087686e-02,  5.17420502e-01, -1.17000278e-22,
        -2.17329103e-21,  3.99770729e-01,  1.18358458e-21],
       [ 7.30170799e-02,  5.22607007e-01, -1.21231184e-22,
        -2.20807671e-21,  4.04375913e-01,  1.19733987e-21],
       [ 6.32253911e-02,  5.27793511e-01, -1.22093232e-22,
        -2.24435597e-21,  4.08981098e-01,  1.21934209e-21],
       [ 5.34337023e-02,  5.32980016e-01, -1.25550179e-22,
        -2.28229688e-21,  4.13586282e-01,  1.23986016e-21],
       [ 4.36420135e-02,  5.38166520e-01, -1.28615836e-22,
        -2.31763647e-21,  4.18191466e-01,  1.25925524e-21],
       [ 3.38503248e-02,  5.43353025e-01, -1.29316513e-22,
        -2.35746871e-21,  4.22796650e-01,  1.27930666e-21],
       [ 2.40586360e-02,  5.48539530e-01, -1.32081183e-22,
        -2.39096971e-21,  4.27401834e-01,  1.29801542e-21],
       [ 1.42669472e-02,  5.53726034e-01, -1.32292774e-22,
        -2.42517748e-21,  4.32007019e-01,  1.31592606e-21],
       [ 4.47525845e-03,  5.58912539e-01, -1.37418118e-22,
        -2.46497450e-21,  4.36612203e-01,  1.33604922e-21],
       [ 7.82756175e-22,  5.29348403e-01,  5.40757126e-22,
         2.06256001e-22,  4.70651597e-01,  1.12122732e-21],
       [ 8.61110873e-23,  4.70531913e-01,  5.50793857e-23,
         1.07551671e-23,  5.29468087e-01,  1.27412909e-22],
       [-7.44623879e-22,  4.11715424e-01, -5.18474125e-22,
        -2.12825097e-22,  5.88284576e-01, -1.06308105e-21],
       [-1.07734914e-21,  3.52898935e-01, -7.46586398e-22,
        -3.21439621e-22,  6.47101065e-01, -1.50697769e-21],
       [-1.62015651e-21,  2.94082446e-01, -1.12284475e-21,
        -4.94291068e-22,  7.05917554e-01, -2.29192666e-21],
       [-2.52736529e-21,  2.35265957e-01, -1.75237561e-21,
        -7.35972579e-22,  7.64734043e-01, -3.60539374e-21],
       [-3.08398021e-21,  1.76449468e-01, -2.14994082e-21,
        -9.15652409e-22,  8.23550532e-01, -4.37352816e-21],
       [-3.58735529e-21,  1.17632978e-01, -2.48570732e-21,
        -1.04270425e-21,  8.82367022e-01, -5.08483328e-21],
       [-4.22806893e-21,  5.88164892e-02, -2.93516560e-21,
        -1.22851066e-21,  9.41183511e-01, -6.01780357e-21],
       [-5.51819342e-09, -1.09541066e-06, -2.82262514e-07,
        -8.89184782e-07,  1.00000179e+00,  4.79904346e-07]])

Save the portfolios in a TSV file named "efficient_frontier.tsv".
The header row should have columns "index", "return", "risk", and all the asset tickers.
Each data row should have the portfolio index (0-100), the estimated return of the portfolio, the estimated standard deviation (not variance) of the portfolio, and all the asset allocations (which should sum to one).

In [121]:
# YOUR CHANGES HERE
ef_std_devs = [np.sqrt(var) for var in ef_variances]

# Create the DataFrame
efficient_frontier_df = pd.DataFrame({
    'index': range(len(ef_returns)),
    'return': ef_returns,
    'risk': ef_std_devs
})

# Add asset allocation columns using your existing ef_portfolios
asset_names = estimated_returns.index.tolist()
for i, asset in enumerate(asset_names):
    efficient_frontier_df[asset] = ef_portfolios[:, i]

# Save to TSV file
efficient_frontier_df.to_csv('efficient_frontier.tsv', sep='\t', index=False)

In [122]:
efficient_frontier_df

,index,return,risk,AAPL,AMZN,SPY,TSLA,IBM,JNJ
0,0,[0.016934477237824076],0.032824,8.830520e-02,0.033444,6.166676e-01,1.268675e-19,-1.638558e-18,2.615832e-01
1,1,[0.017068532959222345],0.032831,8.747189e-02,0.038500,6.211751e-01,1.280858e-19,-1.656063e-18,2.528533e-01
2,2,[0.01720258868062061],0.032850,8.663859e-02,0.043555,6.256826e-01,1.293003e-19,-1.673541e-18,2.441234e-01
3,3,[0.017336644402018875],0.032882,8.580528e-02,0.048611,6.301901e-01,1.305123e-19,-1.690949e-18,2.353935e-01
4,4,[0.017470700123417143],0.032926,8.497197e-02,0.053667,6.346975e-01,1.317154e-19,-1.708260e-18,2.266636e-01
...,...,...,...,...,...,...,...,...,...
96,96,[0.029803826492057685],0.068798,-2.527365e-21,0.235266,-1.752376e-21,-7.359726e-22,7.647340e-01,-3.605394e-21
97,97,[0.029937882213455953],0.071420,-3.083980e-21,0.176449,-2.149941e-21,-9.156524e-22,8.235505e-01,-4.373528e-21
98,98,[0.03007193793485422],0.074288,-3.587355e-21,0.117633,-2.485707e-21,-1.042704e-21,8.823670e-01,-5.084833e-21
99,99,[0.030205993656252483],0.077374,-4.228069e-21,0.058816,-2.935166e-21,-1.228511e-21,9.411835e-01,-6.017804e-21
100,100,[0.030340049377650752],0.080652,-5.518193e-09,-0.000001,-2.822625e-07,-8.891848e-07,1.000002e+00,4.799043e-07

Submit "efficient_frontier.tsv" in Gradescope.

## Part 8: Check Maximum Return Portfolio Stability

Check the stability of the maximum return portfolio by resampling the estimated risk/return model.

Repeat 1000 times -
1. Use `np.random.multivariate_normal` to generate 23 return samples using your previously estimated risks and returns.
2. Estimate the return of each asset using that resampled return history.
3. Check which asset had the highest return in those resampled estimates.

This procedure is a reduced and simplified version of the Michaud resampled efficient frontier procedure that takes uncertainty in the risk model into account.

In [113]:
# YOUR CHANGES HERE

n_simulations = 1000
n_samples = 23
max_return_assets = []

mean_returns = estimated_returns['estimated_return'].values
asset_names = estimated_returns.index.tolist()

for i in range(n_simulations):
    random_returns = np.random.multivariate_normal(mean_returns, estimated_covariance, n_samples)

    resampled_mean_returns = np.mean(random_returns, axis=0)

    best_asset_index = np.argmax(resampled_mean_returns)
    best_asset_name = asset_names[best_asset_index]
    max_return_assets.append(best_asset_name)

asset_probabilities = {}
for asset in asset_names:
    count = max_return_assets.count(asset)  
    probability = count / n_simulations
    asset_probabilities[asset] = probability

max_return_prob_df = pd.DataFrame({
    'asset': list(asset_probabilities.keys()),
    'probability': list(asset_probabilities.values())
})

Save a file "max_return_probabilities.tsv" with the distribution of highest return assets.
The header row should have columns "asset" and "probability".
There should be a data row for each asset and its sample probability of having the highest return based on those 1000 resampled estimates.

In [114]:
# YOUR CHANGES HERE

max_return_prob_df.to_csv('max_return_probabilities.tsv', sep='\t', index=False)
max_return_prob_df

  asset  probability
0  AAPL        0.053
1  AMZN        0.215
2   SPY        0.004
3  TSLA        0.339
4   IBM        0.362
5   JNJ        0.027

Submit "max_return_probabilities.tsv" in Gradescope.

## Part 9: Acknowledgments

Make a file "acknowledgments.txt" documenting any outside sources or help on this project.
If you discussed this assignment with anyone, please acknowledge them here.
If you used any libraries not mentioned in this module's content, please list them with a brief explanation what you used them for.
If you used any generative AI tools, please add links to your transcripts below, and any other information that you feel is necessary to comply with the generative AI policy.
If no acknowledgements are appropriate, just write none in the file.

Submit "acknowledgements.txt" in Gradescope.

## Part 10: Code

Please submit a Jupyter notebook that can reproduce all your calculations and recreate the previously submitted files.
You do not need to provide code for data collection if you did that by manually.

Submit "project.ipynb" in Gradescope.